<ion-view view-title="About">
  <ion-content>
    
    <div class="row">
	  <div class="col col-75">
	  	<h3>About</h3>
	  	<p>
Children's Literature Digital Resource (CLDR) is a full text digital repository of Australian children's literature from 1830 to 1945. Users can read online the complete texts of a selection of early Australian children's literature, both popular and rare.		</p>
	</div>
	  <div class="col"><img src="img/ribbon.png" height="130px" align="right"></div>
	</div>
    
	<div class="row">
	  <div class="col"><h4>AIMS OF THE PROJECT</h4>
		<h5>The project's key aims were to:</h5>
		<p>
		Establish an important digital facility for research, teaching, and information provision around Australians children's literature
		Provide access to a wide range of high quality fulltext data, both primary and secondary resource
		Provide access to essential library and research information infrastructure and facilities for established and emerging researchers in the fields of Humanities and Education.
		Enable research while preserving important heritage material.</p>
	  </div>
	</div>

  </ion-content>
</ion-view>
