<!-- <ion-view title="Leon Teh">
    <ion-content padding="true" class="has-header">
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
            <i class="thumbnail" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <ion-list>
            <ion-item class="item-divider">Item</ion-item>
            <ion-item>Item 1</ion-item>
            <ion-item class="item-divider">Item</ion-item>
            <ion-item>Item 3</ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="/img/avatar-img.png">
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view> -->

<ion-view view-title="My Profile">
  <ion-content>
    
    <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
            <i class="avatar" style="vertical-align: middle;">
            	<img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xaf1/v/t1.0-1/c0.0.320.320/p320x320/564914_10150638773113763_843395705_n.jpg?oh=c3b4d407bad174c416b675767a164d49&oe=55E354FC&__gda__=1440267631_0ccfb15f4668914c67d16f5cc67b728b">
            </i>
        </div>
        <ion-list>
            <ion-item class="item-divider">Personal Info</ion-item>
            <label class="item item-input">
                <span class="input-label">First Name</span>
                <input type="text" placeholder="Leon">
            </label>
            <label class="item item-input">
                <span class="input-label">Last Name</span>
                <input type="text" placeholder="Teh">
            </label>
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="email" placeholder="leon.teh@uq.edu.au">
            </label>
            <ion-item class="item-divider">Item</ion-item>
            <ion-item>Item 3</ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="/img/avatar-img.png">
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
            
        </ion-list>

  </ion-content>
</ion-view>
